{% extends 'base.html' %}
{% block app_content %}
    <a href="/" class="btn btn-warning home">На главную</a>
    <div class="counter">{{new_game.counter}}</div>
    <a href="live" class="btn btn-info refresh">Создать новую жизнь</a>

<table class="world">
    {% for i in range(new_game.world | length) %}
        <tr>
            {% for j in range(new_game.world[i] | length) %}
            {% if new_game.world[i][j] %}
                <td class="cell living-cell"></td>
            {% elif new_game.old_world[i][j] and not new_game.world[i][j] %}
            <td class="cell dead-cell"></td>
            {% else %}
                <td class="cell "></td>
            {% endif%}
            {% endfor %}
        </tr>
    {% endfor %}
</table>
{% endblock %}
{% block scripts %}
{{ super() }}
    <script>
        setInterval(() => window.location.reload(), 1000);
    </script>
{% endblock %}